/* Root element styles */
body,
#root {
  display: flex; /* Use flexbox layout */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100vh; /* Full viewport height */
  margin: 0; /* Remove default margin */
}

/* General styles for the app container */
.app {
  font-family: Arial, sans-serif; /* Set font family */
  text-align: center; /* Center text */
  padding: 20px; /* Add padding */
  height: 100%; /* Full height */
  width: 600px; /* Set width */
  max-width: 100%; /* Limit the maximum width of the app */
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange children in a column */
  justify-content: flex-start; /* Align items to the top */
  align-items: center; /* Center content horizontally */
  box-sizing: border-box; /* Ensure padding is included in the width/height */
  overflow: auto; /* Allow scrolling if content overflows */
}

.find-movie-button {
  padding: 10px 15px; /* Add padding for the button */
  font-size: 16px; /* Set font size */
  background-color: #256150; /* Green background */
  color: white; /* White text color */
  border: 2px solid white; /* White outline */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  text-align: center; /* Center the button text */
  transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
}

/* Hover effect for find-movie-button */
.find-movie-button:hover {
  background-color: #1e4e3e; /* Darker green on hover */
  transform: scale(1.05); /* Slight zoom effect */
}
